<style>
    .container-outer { overflow: scroll; width: 1200px;}
    .container-inner { width: 10000px; }
    .borderify {
        border-style: solid;
        border-width: 1px;
    }

    .day {
        margin: 2px;
    }

    .project-list {
        background-color: lightgray;
    }

    .qa-name {
        background-color: lightblue;
        border-style: solid;
        border-width: 1px;
    }
    .panel {
        padding-bottom: 5px;
    }
</style>

<!--<table class="table table-bordered">
    <tr>
        <th *ngFor="let user of week_users">
            <h2>{{ user.first_name }}</h2>
            <tr *ngFor="let date of dates" align="center">
                <h4>{{ date | date: 'EEEE' }}</h4>
                <select #project>
                    <option *ngFor="let project of projects" [value]="project.id">
                        <span>{{ project.name }}</span>
                    </option>
                </select>
                <button (click)="assign(project.value, user.id, date)">Assign</button>
                <div *ngFor="let assignment of user.qa_assignments">
                    <div *ngIf="assignment.date == (date | date: 'EEEE')">
                        <a href>{{ assignment.project.name }}</a>
                    </div>
                </div>
                <br>
                <br>
            </tr>
        </th>
    </tr>
</table>-->

<div class="container container-outer">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h1>
                    <button class="btn btn-info" (click)="previousWeek()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button> {{ firstdate | date: 'yyyy-MM-dd' }} to {{ lastdate | date: 'yyyy-MM-dd' }} <button class="btn btn-info" (click)="nextWeek()"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                </h1>
            </div>
        </div>

    </div>

    <div *ngFor="let error of errors">
        <div *ngIf="is_error" class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
    </div>

    <div class="container-inner">
        <div *ngFor="let user of week_users" class="pull-left" style="margin-right:10px">
            <div class="qa-name"><strong><h2>{{ user.first_name }}</h2></strong></div>
            <div style="background-color: gray; display: inline-block">
                <div *ngFor="let date of dates" style="margin: 5px; background-color:white">
                    <div class="borderify" *ngIf="!((date|date:'EEEE') === 'Saturday') && !((date|date:'EEEE') === 'Sunday')">
                        <div class="day">
                            <strong>{{ date | date: 'EEEE' }}</strong>
                            <button class="btn btn-sm btn-primary pull-right" (click)="assign(user[date], user.id, date)">Assign</button>
                        </div>

                        <tag-input #project [(ngModel)]='user[date]' 
                                            [identifyBy]="'id'" 
                                            [displayBy]="'name'" 
                                            [secondaryPlaceholder]="'Enter Project Name'"
                                            theme='bootstrap'>
                                            
                            <tag-input-dropdown [showDropdownIfEmpty]="true" 
                                                [autocompleteItems]="projects" 
                                                [identifyBy]="'id'" 
                                                [displayBy]="'name'">
                            </tag-input-dropdown>
                        </tag-input>
                        
                        
                        <div *ngFor="let assignment of user.qa_assignments">
                            <div *ngIf="assignment.date == (date | date: 'EEEE')">
                                <div class="project-list">
                                    <button><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <strong>{{ assignment.project.name }}</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1><a routerLink="/pages/projects">Projects</a></h1>
